<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".VG"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppPraxisII"
        tools:targetApi="31">
        <activity
            android:name=".Ejercicio13"
            android:exported="false" />
        <activity
            android:name=".Ejercicio12"
            android:exported="false" />
        <activity
            android:name=".Ejercicio11"
            android:exported="false" />
        <activity
            android:name=".Ejercicio10"
            android:exported="false" />
        <activity
            android:name=".Ejercicio9"
            android:exported="false" />
        <activity
            android:name=".Ejercicio8"
            android:exported="false" />
        <activity
            android:name=".Ejercicio7"
            android:exported="false" />
        <activity
            android:name=".Ejercicio6"
            android:exported="false" />
        <activity
            android:name=".Ejercicio5"
            android:exported="false" />
        <activity
            android:name=".Ejercicio4"
            android:exported="false" />
        <activity
            android:name=".Ejercicio3"
            android:exported="false" />
        <activity
            android:name=".Ejercicio2"
            android:exported="false" />
        <activity
            android:name=".Ejercicio1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>